*, *::before, *::after {
   font-family: Verdana, Tahoma, sans-serif;
}

:root{
   --bgColor:powderblue;
   --txtColor:black;
   --borderBg: white;
   --borderColor: black;
   --wrong: red;
   --right: rgb(19, 143, 19);
   --altColor:white;
}

body{
   background-color: var(--bgColor);
   justify-content: center;
   align-items: center;
   display: flex;
   width: 90vw;
   height: 90vh;
}

h1{
   color:var(--txtColor);
   border: 5px solid var(--borderColor) ;
   background-color: var(--borderBg);
   margin: 5px;
   padding: 10px;
   text-align: center;
   font-size: 40px;
   flex-wrap: wrap;
}

.correct{
   background-color: var(--right);
}

.wrong{
   background-color: var(--wrong);
}

.container{
   background-color: var(--borderBg);
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0 0 10px 3px;
   width: 1500px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

header{
   background-color: var(--borderBg);
   border: 3px solid var(--borderColor);
   padding: 10px;
   margin: 10px;
   font-size: 20px;
   box-shadow: 0 0 10px 3px;
}

#buttons{
   display: grid;
   gap: 12px;
   margin:  20px 0;
   grid-template-columns: repeat(2, auto);
   padding: 40px;
   width: 700px;
   height: 100px;
}

.button{
   background-color: lightskyblue;
   border: 4px solid var(--borderColor);
   border-radius: 50px;
   padding: 10px;
   font-size: 30px;
}

.button:hover{
   background-color: aqua;
}

.button.correct{
   background-color: var(--right);
   color: var(--altColor);
}

.button.wrong{
   background-color: var(--wrong);
   color: var(--altColor);
}

#start, #next {
   padding: 15px;
   background-color: lightskyblue;
   border: 2px solid var(--borderColor);
   border-radius: 10px;
   width: 100px;
}

.controls{
   text-align: center;
}

#start:hover {
   background-color: aqua;
}

#next:hover {
   background-color: aqua;
}

.hide{
 display: none;
}

#question{
   font-size: 30px;
   font-weight: bold;
   background-color: var(--bgColor);
   border: solid 2px var(--borderColor);
   box-shadow: 0 0 10px 3px;
}

.score{
   border: solid 2px var(--borderColor);
   box-shadow: 0 0 10px 1px;
   font-size: 30px;
   background-color: var(--bgColor);
}
 
